name: "CI"
on:
  pull_request:
  push:
  schedule:
    - cron: "0 0 * * SAT" # every sunday

jobs:
  nix-tests:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v14
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.5pre20211026_5667822/install
          extra_nix_config: |
            experimental-features = nix-command flakes
            system-features = nixos-test benchmark big-parallel kvm recursive-nix

      - uses: cachix/cachix-action@v10
        with:
          name: zeek
          pushFilter: '(-source$|\.tar\.gz$|\.squashfs$)'
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      # CI workflows
      - name: Run Nix Format Check
        run: nix -Lv develop -c nixpkgs-fmt --check .

      - name: Run Nix Flake Show
        run: |
          nix develop -c only-x86-64_linux
          nix flake show

      - name: Run Nix Flake Check
        run: |
          nix -Lv flake check
          git reset --hard

      - name: Run nvfetcher
        run: |
          nix -Lv develop --command nvfetcher -l changelog
      - name: Update nix of GH verison
        run: |
          nix run .\#gh-nix-update

      - name: Build Packages
        run: |
          nix -Lv build .\#broker
          nix -Lv build .\#elastalert2
          nix -Lv build .\#zat
          nix -Lv build .\#zed
          nix -Lv build .\#btest

      - name: Build Microvm Images
        run: |
          nix -Lv build .\#osquery-microvm

      - name: Build Package GoPackages
        run: |
          nix -Lv build .\#gst
          nix -Lv build .\#ghq

      - name: COMMIT_MSG
        run: |
          changlog=$(find . -type f -name "changelog")
          if [[ ! -z "$(cat $changlog)" ]]; then
          echo "COMMIT_MSG<<EOF" >>$GITHUB_ENV
          echo "$(cat $changlog)" >>$GITHUB_ENV
          echo "EOF" >>$GITHUB_ENV
          rm -rf $changlog
          else
          rm -rf $changlog
          fi

      - name: Commit changes
        if: ${{ env.COMMIT_MSG != null }}
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: ${{ env.COMMIT_MSG }}
