name: "CI"
on:
  push:
    branches:
      - main
      - trying
      - staging
  schedule:
    - cron: "0 0 * * SAT" # every sunday

jobs:
  nix-tests:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v17
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.10.0pre20220822_7c3ab57/install
          extra_nix_config: |
            experimental-features = nix-command flakes
            system-features = nixos-test benchmark big-parallel kvm recursive-nix

      - uses: cachix/cachix-action@v10
        with:
          name: zeek
          pushFilter: '(-source$|\.tar\.gz$|\.squashfs$)'
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      # CI workflows
      - name: Run Nix Flake Show
        run: nix develop -c CI-flake-show

      - name: Run nvfetcher-github
        run: nix develop -c nvfetcher-update

      - name: Build Packages
        run: nix develop -c packages-build


      - name: Commit changes
        if: ${{ env.COMMIT_MSG != null }}
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: ${{ env.COMMIT_MSG }}


      - name: Build Packages
        run: nix -Lv develop -c mkdoc

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.4.0
        with:
          branch: gh-pages
          folder: ./docs/publish/public
